html{
    height: 100%;
}
body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    height: 95%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
    overflow-y: hidden;
}
#barrederecherche{
    text-align: center;
    font-size: 25px;

}
#contentpage{
    overflow-y: scroll!important;
    height: 100%;
}
#boutonrechercher{
    margin-left: 100%;
    top: -34.5px;
    height: 34.5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-group{
    display: inline-block;
}
@media screen and (max-width: 240px) {
    .divrecherche{
    width: 80%;
    margin-top: 50px;}
}
.divrecherche{
    width: 50%;
}
@media screen and (max-width: 800px) {
.formsign{
width: 60%!important;}}
.formsign{
    margin: auto;
    width: 30%;
}
button:hover{
    text-decoration: none;
}
footer{
    position: relative; 
    bottom: -35px;
}
.btn-default{
    background-color: #FE5000!important;
    border-color: #FE5000!important;
    background-image: linear-gradient(to bottom,#FF9B70 0,#FE5000 100%);
    text-shadow: 0 1px 0 #FF9B70;
    color: white;
}

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:visited, .btn-default:link{
    background-position: 0 50px;
    background-color: rgb(254,80,0,0.5);
    color: white!important;
}
.logobarre{
    background-image: url(../image/logo.png);
    background-repeat:no-repeat;
    background-size: 40px;
    padding-left: 50px;
    background-position: 0 4px;
    border-color: #FEC5AD!important;
}
.navbar-default {
    background-image: -webkit-linear-gradient(top,#FEFBFA 0,#FEF3F0 100%);
}

.search2{
    content: "\e003";
    background-color: #FE5000;
    color: white;
}
input, button {
    border-color: #FED3C2!important;
    
}
input:focus, button:focus {
    transition: box-shadow 0.5s;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075),0 0 10px #FDD6C8!important;;
}