body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
}
#barrederecherche{
    text-align: center;
    font-size: 25px;
    float: middle;
    width: 28em;
}
#boutonrechercher{
    margin: auto;
    float: right;
    top: -34.5px;
    width: 35px;
    height: 34.5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 999999999;
}
#monprofil{
    height: 150px;
    width: 150px;
    border: 1px solid #000000;
    position: absolute;
}
.form-group{
    display: inline-block;
}.sign{

}
.formsign{
    margin: auto;
    width: 350px;
}
button:hover{
    text-decoration: none;
}